*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estructure*/

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'rawline500';
}

footer, header{
    width: 100%;
    min-height: 80px;
    position: relative;
    background-color: rgb(124, 55, 214);
}

header{
    top: 0;
}

footer{
    bottom: 0;
}

main{
    background-color: rgb(255, 255, 255);
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/*menu*/

header .menu{
    width: 100%;
    height: 100%;
    min-height: 80px;
    
    display: flex;
    position: relative;
}

@font-face {
    font-family: 'antapani';
    src: url('../font/Antapani-ExtraBold.otf');
}
@font-face {
    font-family: 'rawline500';
    src: url('../font/rawline-500.ttf');
}

header .menu .logo{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px;

    color: #fff;

    margin-left: 20px;
}

header .menu .logo h1{
    font-size: 25px;
    font-family: 'antapani';
}

header .menu ul{
    width: 100%;
    display: flex;

    display: flex;
    align-items: center;
    justify-content: end;

    margin-right: 50px;
}


header .menu ul li{
    margin: 0 5px 0 5px;
    
    height: fit-content;
    width: fit-content;
    
    color: rgb(255, 255, 255);
    font-weight: 600;
    
}

header .menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.193);
}

header .menu ul li a{
    text-decoration: none;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    
    position: relative;
    color: #fff;

    padding: 10px 20px;

}


header .menu ul li:nth-child(1) a{
    background-color: rgba(255, 255, 255, 0.193);
}

header .menu ul li:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 40px;
    height: 40px;

    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;

    background-color: rgba(34, 34, 34, 0.479);
}

header .menu ul li:nth-child(3) img{
    position: relative;
    object-fit: contain;
    width:  40px;
}

header .menu ul li{
    list-style: none;
} 


/* footer */

footer{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main*/

main .container{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 160px);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box{
    max-width: 800px;
    /* min-height: 400px; */
    position: relative;

    padding: 50px;

    margin: 20px;

    border-radius: 30px;

    border: 1px solid #E5E5E5;

    background-color: rgba(255, 255, 255, 0.281);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .content{
    max-width: 700px;
    height: fit-content;

    /* background-color: aquamarine; */
}

.box .pergunta{
    width: 100%;
}

.box .pergunta h1{
    color: rgb(22, 22, 22);
}

.box .pergunta p{
    line-height: 1.5;
    padding: 20px;

    text-align: center;

    color: rgba(22, 22, 22, 0.912);
    font-weight: 800;
}

.box .respostas{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;

    position: relative;

    padding: 20px;

}

.box .respostas .resposta{
    display: flex;
    flex-direction: row;

    background-color: rgba(255, 255, 255, 0.063);
    border: 1px solid #E5E5E5;

    box-shadow: 0 0 13px rgba(47, 59, 225, 0.028);
    
    margin: 5px 0 5px 0;

    width: 180px;
    height: 55px;
    border-radius: 4px;

    align-items: center;

    margin: 20px;
}

.box .respostas .resposta.active{
    background-color: rgb(102, 20, 236);
}



.box .respostas .resposta.active label{
    color: #fff;
}

.box .respostas .resposta input{

    margin-right: 10px;
    position: absolute;

    /* opacity: 0%; */
}

.box .respostas .resposta label{
    color: rgb(27, 47, 199);
    font-weight: 900;

    font-size: 13px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;
}


header .closed{
    display: none;
}

header .open{
    opacity: 80%;
    z-index: 10;
    display: flex;
}
header .open .profileOpenned{
    position: absolute;

    width: 200px;
    height: 200px;

    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    
    border: 1px solid  rgb(177, 177, 194);
    
    z-index: 9;
    
    top: 71px;
    right: 65px;
}

header .open .triangule{
    background-color: rgb(248, 248, 248);

    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);

    border-left: 1px solid  rgb(97, 97, 97);
    border-top: 1px solid  rgb(97, 97, 97);
    z-index: 10;

    right: 69px;
    top: 64px;
}

header .open .profileOpenned ul{
    list-style: none;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    position: relative;
}

header .menu .open .profileOpenned ul a{
    color: #222;
    font-size: 15px;

    margin: 5px;
    text-decoration: none;

    background: transparent;
}

header .menu .open .toggleTheme{
    width: 50px;
    height: 20px;
    border: 1px solid rgb(106, 106, 106);
    border-radius: 30px;

    position: relative;
    display: flex;
    align-items: center;
}
header .menu .open .toggleTheme .ballTheme{
    width: 20px;
    height: 20px;
    
    border-radius: 60%;
    background-color: #222;
    position: relative;
}